:root {
  overflow: hidden;
}

button:focus {
  outline: none
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#counters-section {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#create-counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#create-counter-title {
  margin: 0;
}

#create-counter>form {
  display: flex;
  width: 100%;
  align-items: center;
}

#create-counter input[type=text] {
  margin-right: 1rem;
}

#create-counter input[type=text],
#create-counter input[type=number] {
  padding: 1rem;
  font-size: 1rem;
  border-style: none;
  border-bottom: solid black 1px;
}

#create-counter input[type=text]:focus,
#create-counter input[type=number]:focus {
  outline: none;
  border-bottom: solid gold 1px;
}

#counter-name-setter {
  display: flex;
  flex: 1 1 auto;
  width: 1rem;
}

#counter-count-setter {
  width: 10%;
}

#create-counter-btn {
  height: 54px;
  width: 54px;
  background-color: transparent;
  border-style: none;
}

#create-counter-btn:hover {
  color: gray;
}

#counters-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  height: 1px;
}

#counters-list-empty {
  padding: 1rem;
  color: gray;
  font-style: italic;
  font-size: 1rem;
}

.counter {
  display: flex;
  flex: 1 1 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  color: white;
  border-radius: 1rem;
  min-height: 2rem;
}

.counter-anim-appear {
  opacity: 0;
}

.counter-anim-appear-active {
  opacity: 1;
  transition: opacity 200ms;
}

.counter-anim-appear-done {
  opacity: 1;
}

/* .counter-anim-enter {
  opacity: 0;
}

.counter-anim-enter-active {
  opacity: 1;
  transition: opacity 200ms;
} */

.counter-anim-exit {
  opacity: 1;
}

.counter-anim-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.counter * {
  user-select: none;
}

.counter-name {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: start;
  flex-grow: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
}

.counter-main {
  display: flex;
  margin-right: 10px;
}

.counter-count {
  margin-left: 1rem;
  margin-right: 1rem;
}

.settings-btn {
  margin-right: 10px;
}

.counter button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-style: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  padding: 0.3rem;
}